RewriteEngine On
RewriteRule ^thanhvien$ thanhvien.php [L]
RewriteRule ^caidatchung$ caidatchung.php [L]
RewriteRule ^quanlylopvskhoi$ quanlylopvskhoi.php [L]
RewriteRule ^capnhatdulieu$ nhapdl.php [L]
RewriteRule ^capnhatthongbao$ nhapthongbao.php [L]